<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-6">
    <%= link_to 'Back', posts_path, class:"mb-2" %>
    <div class="card mb-3">
      <div class="card-block">
        <h4 class="card-title">
          <%= @post.title %>
        </h4>
        <h6 class="card-subtitle text-muted"><%= @post.user.full_name %></h6>
        <p class="card-text">
          <%= @post.body %>
        </p>
        
        <% if current_user == @post.user %>
          <%= link_to 'Edit', edit_post_path(@post), class:"btn btn-primary btn-sm" %>
        <% end %>
        
      </div>
    </div>
    <% if @post.comments.length < 1 %>
      <p class="text-muted">No comments!</p>
    <% else %>
      <h4>Comments:</h4>
      <% @post.comments.each do |c| %>
        <div class="card mb-1">
          <div class="card-block">
            <p class="card-text">
              <%= c.body %> <br>
              <span class="text-muted">
                <%= c.user.full_name %>
              </span>
            </p>
          </div>
        </div>     
      <% end %>
    <% end %>
    <% if user_signed_in? %>
      <%= form_for([@post, @post.comments.new]) do |f| %>
        <div class="form-group">
          <%= f.text_area :body, class:"form-control mb-1", placeholder: "Leave a Comment"%>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.submit class:"btn btn-primary" %>
        </div>
      <% end %>
    <% else %>
      <p class="text-muted"><%= link_to "Log In", new_user_session_path %> to leave a comment!</p>
    <% end %>
  </div>
</div>
